@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
/*===== Font and typography =====*/
/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 0 0;
  font-family: 'Poppins', sans-serif;
  background: #FFFFFF;
}

h1, h2, h3, ul, p {
  margin: 0;
}

h2, h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

button:active, button:focus {
  outline: none !important;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.grid {
  display: -ms-grid;
  display: grid;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 8px 16px 2px rgba(15, 86, 179, 0.1), 0px 16px 32px 2px rgba(15, 86, 179, 0.1);
          box-shadow: 0px 8px 16px 2px rgba(15, 86, 179, 0.1), 0px 16px 32px 2px rgba(15, 86, 179, 0.1);
  z-index: 10;
}

header .header-nav {
  position: relative;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 4.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1168px;
  z-index: 10;
}

header .header-nav .header-nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 0 0;
}

header .header-nav .header-nav-logo .header-nav-logo-left {
  background: #6D13FF;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  color: #E5E5E5;
}

header .header-nav .header-nav-logo .header-nav-logo-right {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  color: #FFAB49;
}

header .header-nav .header-nav-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

header .header-nav .header-nav-menu .header-nav-menu-link {
  color: black;
  padding-top: 7px;
  padding-left: 1.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.0168em;
}

header .header-nav .header-nav-menu .header-nav-menu-link:first-child {
  margin-left: auto;
}

header .header-nav .header-nav-menu .header-nav-menu-link:last-child {
  margin-right: auto;
}

header .header-nav .header-nav-menu .header-nav-btn {
  margin: 0 0 0 auto;
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  background: rgba(197, 220, 250, 0.5);
  border-radius: 12px;
  z-index: 10;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #1672EC;
}

header .header-nav .header-nav-menu .header-nav-btn .header-nav-btn-icon {
  max-height: 24px;
  padding-right: 8px;
}

header .header-nav .header-nav-menu .header-nav-btn:focus {
  border: none;
}

header .header-nav .mobil {
  display: none;
}

header .header-nav .popup {
  display: none;
}

header .header-nav .active-popup {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 64px;
  right: 0;
  z-index: 15;
  width: 240px;
  height: 377px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18);
          box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18);
  border-radius: 12px;
  padding: 16px 0 0 0;
}

header .header-nav .active-popup .popup-link {
  padding: 0 16px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.0168em;
  color: #000000;
  margin-bottom: 24px;
}

header .header-nav .active-popup .hr {
  margin: 0;
  width: 100%;
  height: 1px;
  opacity: 0.12;
  border: 1px solid #000000;
}

header .header-nav .active-popup .popup-auth {
  height: 100%;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.0168em;
  color: #414141;
}

header .header-nav .active-popup .popup-auth .popup-auth-icon {
  margin-right: 12px;
  padding: 8px;
  width: 40px;
  height: 40px;
  background: #C5DCFA;
  opacity: 0.5;
  border-radius: 99px;
}

.main {
  position: relative;
  width: 100%;
  z-index: 1;
}

.main .home {
  width: 100%;
}

.main .home .home-container {
  margin: 0 auto;
  max-width: 1168px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.main .home .home-container .home-info {
  max-width: 477px;
  margin: 0 auto 0 0;
}

.main .home .home-container .home-info .home-info-title {
  max-width: 390px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 133%;
  letter-spacing: -0.005em;
  color: #1E1E1E;
}

.main .home .home-container .home-info hr {
  margin-top: 24px;
  max-width: 476px;
  background-color: rgba(0, 0, 0, 0.12);
  border: 1px solid;
}

.main .home .home-container .home-info .home-info-online {
  margin-top: 16px;
  font-weight: normal;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.0168em;
  color: #616161;
  margin-right: 8px;
}

.main .home .home-container .home-info .home-info-online .home-info-online-value {
  margin-left: 8px;
  padding: 7px 20px;
  background: #6D13FF;
  border-radius: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.0168em;
  color: #FFFFFF;
}

.main .home .home-container .home-info .home-info-btn {
  margin-top: 24px;
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 16px 2px rgba(15, 86, 179, 0.1), 0px 16px 32px 2px rgba(15, 86, 179, 0.1);
          box-shadow: 0px 8px 16px 2px rgba(15, 86, 179, 0.1), 0px 16px 32px 2px rgba(15, 86, 179, 0.1);
  border-radius: 99px;
  cursor: pointer;
}

.main .home .home-container .home-info .home-info-btn .home-info-btn-title {
  max-width: 100%;
  margin-left: 134px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 138%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1672EC;
}

.main .home .home-container .home-info .home-info-btn .home-info-btn-icon {
  margin: 0 0 0 auto;
  padding: 20px 32px;
  background: #E2EEFD;
  border-radius: 99px;
}

.main .home .home-container .home-img {
  z-index: 1;
  margin: 0 0 0 auto;
}

.main .home .home-container .home-img .home-img-wrapper {
  background: #1672EC;
  border-left: 28px solid #1672EC;
  border-radius: 12px;
  -webkit-box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.1), 0px 16px 32px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.1), 0px 16px 32px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.main .home .home-container .home-img .home-img-wrapper .home-img-wrapper-href {
  z-index: 1;
  position: relative;
  border-radius: 12px;
  max-width: 100%;
  height: auto;
}

.main .shop {
  width: 100%;
}

.main .shop .shop-container {
  margin: 0 auto;
  max-width: 1168px;
  height: 80vh;
}

.main .shop .shop-container .shop-menu {
  max-width: 334px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px;
  border-bottom: 1px solid #E0E0E0;
}

.main .shop .shop-container .shop-menu .shop-menu-link {
  margin-right: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 138%;
  padding-bottom: 13px;
  letter-spacing: 0.0075em;
}

.main .shop .shop-container .shop-menu .shop-menu-link:hover {
  border-bottom: 4px solid #5096F1;
  border-radius: 0px 0px 4px 4px;
}

.main .shop .shop-container .shop-products {
  border: 24px solid #E2EEFD;
  background: #E2EEFD;
  border-radius: 12px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a b c d e"    "f g h i j";
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.main .shop .shop-container .shop-products .shop-products-item {
  cursor: pointer;
  position: relative;
  width: 204px;
  height: 204px;
  background: #C5DCFA;
  border-radius: 12px;
}

.main .shop .shop-container .shop-products .shop-products-item .shop-products-item-img {
  padding-top: 34px;
  margin: 0 auto;
}

.main .shop .shop-container .shop-products .shop-products-item .shop-products-item-title {
  display: block;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 142%;
  margin: 0 auto;
  margin-top: 8px;
  text-align: center;
}

.main .shop .shop-container .shop-products .shop-products-item .shop-products-item-price {
  position: absolute;
  top: 0;
  right: 0;
  background: #1672EC;
  border-radius: 0px 12px;
  width: 72px;
  height: 33px;
  text-align: center;
  padding-top: 5px;
}

.main .history {
  width: 100%;
}

.main .history .history-container {
  margin: 0 auto;
  max-width: 1168px;
}

.main .history .history-container .history-title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 138%;
  letter-spacing: 0.0075em;
  color: #414141;
  margin-bottom: 24px;
}

.main .history .history-container .history-products {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.main .history .history-container .history-products .history-products-item {
  width: 181px;
  height: 181px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
}

.main .history .history-container .history-products .history-products-item .history-products-item-img {
  margin: 0 auto;
  margin-top: 28px;
}

.main .history .history-container .history-products .history-products-item .history-products-item-title {
  text-align: center;
  margin-top: 8px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 142%;
  color: #1E1E1E;
}

.main .history .history-container .history-products .history-products-item .history-products-item-nickname {
  text-align: center;
  margin-top: 4px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 142%;
  color: #616161;
}

footer {
  position: relative;
  width: 100%;
}

footer .footer-container {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  margin: 0 auto;
  max-width: 1168px;
}

footer .footer-container .footer-logo {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 142%;
  letter-spacing: 0.0168em;
  color: #616161;
  margin: 0 auto 0 0;
}

footer .footer-container .footer-img {
  margin: 0 0 0 auto;
}

.open-info {
  display: none;
}

.active {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);
  left: 0;
  top: 0;
  z-index: 20;
}

.active .open-body {
  min-height: 100%;
  z-index: 21;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.active .open-body .open-content {
  position: relative;
  padding: 52px 64px;
  z-index: 50;
  max-width: 488px;
  max-height: 660px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}

.active .open-body .open-content .open-info-title {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 53px;
  margin-top: 0;
}

.active .open-body .open-content .open-info-wrapper {
  position: relative;
  max-width: 100%;
  background: #F7F7F7;
  border: 1px solid #E6E6E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
}

.active .open-body .open-content .open-info-wrapper .open-info-wrapper-img {
  padding: 29px 122px;
}

.active .open-body .open-content .open-info-wrapper .open-info-wrapper-price {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  top: 0;
  width: 72px;
  height: 33px;
  background: #1672EC;
  border-radius: 0px 12px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-left: 14px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 142%;
  color: #BAD8FF;
}

.active .open-body .open-content .open-info-subtitle {
  margin: 24px 0 5px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #1E1E1E;
}

.active .open-body .open-content .open-info-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #1E1E1E;
}

.active .open-body .open-content .open-info-btn {
  margin-top: 32px;
  width: 100%;
  height: 50px;
  background: #1672EC;
  -webkit-box-shadow: 0px 10px 40px -12px rgba(25, 38, 132, 0.16);
          box-shadow: 0px 10px 40px -12px rgba(25, 38, 132, 0.16);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.active .open-body .open-content .close {
  position: absolute;
  top: 14.67px;
  right: -33.34px;
}

.buy-admin {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);
  left: 0;
  top: 0;
  z-index: 40;
}

.buy-admin .admin-body {
  min-height: 100%;
  z-index: 21;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buy-admin .admin-body .admin-content {
  position: relative;
  padding: 52px 64px;
  z-index: 50;
  max-width: 488px;
  max-height: 590px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}

.buy-admin .admin-body .admin-content .admin-info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #1E1E1E;
}

.buy-admin .admin-body .admin-content .admin-info-title .admin-info-title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
  margin-right: auto;
}

.buy-admin .admin-body .admin-content .admin-info-title .admin-info-title-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  margin-left: auto;
}

.buy-admin .admin-body .admin-content .admin-title-input {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #1E1E1E;
  padding-bottom: 6px;
}

.buy-admin .admin-body .admin-content .admin-title-input-value {
  padding-bottom: 6px;
  padding-top: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #1E1E1E;
}

.buy-admin .admin-body .admin-content .input-name {
  padding: 13px 16px;
  width: 360px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #1E1E1E;
  outline: none;
}

.buy-admin .admin-body .admin-content .input-name:focus {
  border: 1px solid #507CFF;
}

.buy-admin .admin-body .admin-content .input-name:active {
  border: 1px solid #507CFF;
}

.buy-admin .admin-body .admin-content .admin-input-value-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buy-admin .admin-body .admin-content .admin-input-value-wrapper .input-value {
  width: 323px;
  border: 1px solid #C7C7C7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.buy-admin .admin-body .admin-content .admin-input-value-wrapper .admin-input-value-inner {
  height: 48px;
  width: 36px;
}

.buy-admin .admin-body .admin-content .admin-input-value-wrapper .admin-input-value-inner .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  width: 36px;
  border: 1px solid #C7C7C7;
  border-radius: 0 4px 0 0;
  border-left: none;
}

.buy-admin .admin-body .admin-content .admin-input-value-wrapper .admin-input-value-inner .minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  width: 36px;
  border: 1px solid #C7C7C7;
  border-radius: 0 0 4px 0;
  border-left: none;
  border-top: none;
}

.buy-admin .admin-body .admin-content .admin-title-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 6px;
  padding-top: 24px;
}

.buy-admin .admin-body .admin-content .admin-title-input .admin-title-input-title {
  margin-left: 0;
  margin-right: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #1E1E1E;
}

.buy-admin .admin-body .admin-content .admin-title-input .admin-title-input-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 0;
  margin-left: auto;
}

.buy-admin .admin-body .admin-content .admin-title-input .admin-title-input-icon-subtitle {
  height: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.084px;
  color: #616161;
  margin-right: 0;
  margin-left: 0;
}

.buy-admin .admin-body .admin-content .input-promo {
  padding: 13px 16px;
  width: 360px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #1E1E1E;
  outline: none;
}

.buy-admin .admin-body .admin-content .input-promo:active, .buy-admin .admin-body .admin-content .input-promo:focus {
  border-color: #507CFF !important;
}

.buy-admin .admin-body .admin-content .yes-rules {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.buy-admin .admin-body .admin-content .yes-rules + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.buy-admin .admin-body .admin-content .yes-rules + label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 2px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
}

.buy-admin .admin-body .admin-content .yes-rules:checked + label::before {
  border: 1px solid #C7C7C7;
  background-color: white;
  background-image: url(../img/check.png);
}

.buy-admin .admin-body .admin-content .check {
  margin-top: 35px;
  margin-bottom: 27px;
}

.buy-admin .admin-body .admin-content .admin-btn {
  display: block;
  width: 100%;
  height: 50px;
  background: #1672EC;
  -webkit-box-shadow: 0px 10px 40px -12px rgba(25, 38, 132, 0.16);
          box-shadow: 0px 10px 40px -12px rgba(25, 38, 132, 0.16);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

@media screen and (max-width: 1199px) {
  .header-nav, .footer-container, .history-container, .shop-container, .home-container {
    width: 960px;
  }
  .shop-products {
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .shop-products .shop-products-item {
    white-space: nowrap;
  }
  .shop-products::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .history-products {
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .history-products .history-products-item {
    white-space: nowrap;
  }
  .history-products::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 990px) {
  .header-nav, .footer-container, .history-container, .shop-container, .home-container {
    width: 100%;
    padding: 0 15px;
  }
  .main {
    margin-top: 9rem;
  }
  .main .home .home-container {
    margin: 0 auto;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .main .home .home-container .home-info {
    max-width: 477px;
    margin: 0 auto;
  }
  .main .home .home-container .home-info .home-info-title {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .main .home .home-container .home-info .home-info-btn {
    margin-bottom: 29px;
  }
  .main .home .home-container .home-img {
    margin: 0 auto;
  }
  .main .home .home-container .home-img .home-img-wrapper .home-img-wrapper-href {
    display: block;
    max-width: 700px;
    width: 700px;
  }
  .shop {
    margin-top: 290px;
  }
  .footer .footer-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .footer .footer-container .footer-logo {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .main .home .home-container .home-img .home-img-wrapper .home-img-wrapper-href {
    display: block;
    max-width: 448px;
    width: 448px;
  }
  .shop {
    margin-top: 80px;
  }
}

@media screen and (max-width: 575px) {
  .home-img-wrapper-href {
    max-width: 100%;
    width: 100%;
  }
  header .header-nav .header-nav-menu {
    display: none;
  }
  header .header-nav .open {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 4rem;
    z-index: 10;
    display: block;
    height: 200px;
    background: white;
    width: 100%;
    -webkit-box-shadow: 0px 8px 16px 2px rgba(15, 86, 179, 0.1), 0px 16px 32px 2px rgba(15, 86, 179, 0.1);
            box-shadow: 0px 8px 16px 2px rgba(15, 86, 179, 0.1), 0px 16px 32px 2px rgba(15, 86, 179, 0.1);
    -webkit-transform: .4s;
            transform: .4s;
  }
  header .header-nav .open .header-nav-menu-link {
    text-align: center;
    padding-left: 0;
  }
  header .header-nav .open .header-nav-btn {
    margin: 0 auto;
  }
  header .header-nav .mobil {
    display: block;
  }
  .main .home .home-container .home-img .home-img-wrapper .home-img-wrapper-href {
    width: 274px;
    max-width: 274px;
  }
  .shop {
    height: 55vh;
  }
  .main .shop .shop-container .shop-products {
        grid-template-areas: "1 2 3 4 5 6 7 8 9 10";
  }
}
/*# sourceMappingURL=style.css.map */